<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.fanti.uploader.server.mapper.DBFileMapper">
    <insert id="insertReturnId" parameterType="org.fanti.uploader.server.db.DBFile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file (
            name,
            length,
            md5,
            real_path,
            ext,
            first_upload_time,
            first_upload_user_id
        ) VALUES (
            #{name},
            #{length},
            #{md5},
            #{realPath},
            #{ext},
            #{firstUploadTime},
            #{firstUploadUserId}
        )
    </insert>
    
    <select id="getDBFileList" resultType="org.fanti.uploader.server.db.DBFile">
        SELECT
            f.id id,
            f.name name,
            f.length length,
            f.md5 md5,
            f.real_path realPath,
            f.ext ext,
            f.first_upload_time firstUploadTime,
            f.first_upload_user_id firstUploadUserId
        FROM
            file f
        WHERE
            f.md5=#{md5}
    </select>

    <select id="getDBFileByFileId" resultType="org.fanti.uploader.server.db.DBFile">
        SELECT
            f.id id,
            f.name name,
            f.length length,
            f.md5 md5,
            f.real_path realPath,
            f.ext ext,
            f.first_upload_time firstUploadTime,
            f.first_upload_user_id firstUploadUserId
        FROM
            file f
        WHERE
            f.id=#{fileId}

    </select>

    <select id="getDBFileListByFileIdList" resultType="org.fanti.uploader.server.db.DBFile">
        SELECT
            f.id id,
            f.name name,
            f.length length,
            f.md5 md5,
            f.real_path realPath,
            f.ext ext,
            f.first_upload_time firstUploadTime,
            f.first_upload_user_id firstUploadUserId
        FROM
            file f
        WHERE
            f.id in
        <foreach collection="list" item="fileId" index="index"
                 open="(" close=")" separator=",">
            #{fileId}
        </foreach>
    </select>
</mapper>