<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!-- scan -->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.fanti.uploader.server.mapper"/>
    </bean>

    <context:component-scan base-package="org.fanti.uploader.server.service,org.fanti.uploader.server.controller"/>


    <!--<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">-->
        <!--<property name="driverClassName" value="${datasource.main.database.driverClassName}"/>-->
        <!--<property name="url" value="${datasource.main.database.url}"/>-->
        <!--<property name="username" value="${datasource.main.database.username}"/>-->
        <!--<property name="password" value="${datasource.main.database.password}"/>-->

        <!--<property name="filters" value="stat"/>-->

        <!--<property name="maxActive" value="20"/>-->
        <!--<property name="initialSize" value="1"/>-->
        <!--<property name="maxWait" value="60000"/>-->
        <!--<property name="minIdle" value="1"/>-->

        <!--<property name="timeBetweenEvictionRunsMillis" value="60000"/>-->
        <!--<property name="minEvictableIdleTimeMillis" value="300000"/>-->

        <!--<property name="validationQuery" value="SELECT 'x'"/>-->
        <!--<property name="testWhileIdle" value="true"/>-->
        <!--<property name="testOnBorrow" value="false"/>-->
        <!--<property name="testOnReturn" value="false"/>-->
    <!--</bean>-->

    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--<property name="mapperLocations">-->
            <!--<array>-->
                <!--<value>classpath*:mybatis/mapper/*.xml</value>-->
            <!--</array>-->
        <!--</property>-->
        <!--<property name="configLocation" value="classpath:mybatis/Configuration.xml"/>-->
    <!--</bean>-->

    <!--<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">-->
        <!--<constructor-arg index="0" ref="sqlSessionFactory"/>-->
    <!--</bean>-->

    <aop:aspectj-autoproxy/>

    <!--<aop:config>-->
        <!--<aop:pointcut id="cluster" expression="execution(* org.fanti.uploader.server.service..*Service*.*(..))"/>-->
        <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="cluster"/>-->
    <!--</aop:config>-->

    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="select*" read-only="true"/>-->
            <!--<tx:method name="find*" read-only="true"/>-->
            <!--<tx:method name="get*" read-only="true"/>-->
            <!--<tx:method name="*"/>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

</beans>